body {
    background-color: $achtergrondkleur !important;
}

.size {
    min-height: 500px;
}

.bg-bg {
    color:inherit;
    background-color: $navbar!important;
}

.navbar, .dropdown-menu {
    color:inherit;
    background-color: $navbar!important;

}
.navbar a {
    color: $achtergrondkleur!important;
    background-color: inherit;
}

.navbar a:hover {
    color: $accentkleur!important;
    background-color: inherit;
}


