.normal_bodyn, .form-control{
    background-color: $achtergrondkleur !important;
    color: $tekstkleur!important;
}

.hidden-screen-reader-label{
    background-color: $achtergrondkleur !important;
    color: $achtergrondkleur !important;
}




.size {
    min-height: 500px;
}

.bg-bg {
    color:inherit;
    background-color: $navbar!important;
}

.navbar, .dropdown-menu,  {
    color:inherit;
    background-color: $navbar!important;

}

a.info {
    background-color: inherit !important;
    color: $tekstkleur !important;
}
a.info:hover{
    color: $accentkleur!important;
    background-color: inherit;
}

.navbar a ,navbar-toggler {
    color: $achtergrondkleur!important;
    background-color: inherit;
}

.navbar a:hover, navbar-toggler:hover
{
    color: $accentkleur!important;
    background-color: inherit;
}

.modal-header ,.close{
    color: $achtergrondkleur !important;
    background-color: $navbar !important;
}
.modal-body {
    color: $tekstkleur !important;
    background-color: $achtergrondkleur!important;
}



.qvplaceholder2, .qvobject2{
    flex: 1 1 auto;
    height: 500px;
    min-width: 100px;

}


.qvplaceholder3, .qvobject3 {
    flex: 1 1 auto;
    height: 200px;
    min-width: 150px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#body {
    width: 60%;
}
.kadestatus{
    min-width: 130px;
    max-width: 130px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.progress10{
    width: 10%;
    background-color: #AD310B;

}
.progress33{
    width: 33%;
    background-color: orange;

}
.progress66{
    width: 66%;

}
.progress100{
    width: 100%;
}

.planningstatus{
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.bg-groen{
    background-color: #28a745;
}
.bg-oranje{
    background-color: #ffc107;
}
.bg-rood{
    background-color: #dc3545;

}




.prog-bar-cont5{
    background: gainsboro;
    width: 75vw;
    height: 2.5em;
    padding: 0.5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
    #prog-bar{
        background: #000;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
        background: transparent;
        &:before{
            border-radius: 50px;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            width: 100%;
            left: 50%;
            margin-left: -48%;
            border-radius: 20px;
            height: 10px;
            background: linear-gradient(to bottom, rgba(white, 0.85) 30%, transparent 120%);
        }
        #background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #dc3545, mix(#dc3545,#ffc107,5%),#ffc107,#007bff,mix(#007bff,#28a745,66%),#28a745);
            -webkit-clip-path: inset(0 95% 0 0);
            clip-path: inset(0 95% 0 0);
            transition: all 3s;
            -webkit-transition: all 3s;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-image: repeating-linear-gradient(
                        -45deg,
                        transparent,
                        transparent 10px,
                        #000 10px,
                        #000 20px
                );
                opacity: 0.75;
                mix-blend-mode: overlay;
                border-radius: 50px;
            }
        }
    }

}
.prog-bar-cont33{
    background: gainsboro;
    width: 75vw;
    height: 2.5em;
    padding: 0.5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
    #prog-bar{
        background: #000;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
        background: transparent;
        &:before{
            border-radius: 50px;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            width: 100%;
            left: 50%;
            margin-left: -48%;
            border-radius: 20px;
            height: 10px;
            background: linear-gradient(to bottom, rgba(white, 0.85) 30%, transparent 120%);
        }
        #background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #dc3545, mix(#dc3545,#ffc107,5%),#ffc107,#007bff,mix(#007bff,#28a745,66%),#28a745);
            -webkit-clip-path: inset(0 66% 0 0);
            clip-path: inset(0 66% 0 0);
            transition: all 3s;
            -webkit-transition: all 3s;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-image: repeating-linear-gradient(
                        -45deg,
                        transparent,
                        transparent 10px,
                        #000 10px,
                        #000 20px
                );
                opacity: 0.75;
                mix-blend-mode: overlay;
                border-radius: 50px;
            }
        }
    }

}

.prog-bar-cont66{
    background: gainsboro;
    width: 75vw;
    height: 2.5em;
    padding: 0.5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
    #prog-bar{
        background: #000;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
        background: transparent;
        &:before{
            border-radius: 50px;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            width: 100%;
            left: 50%;
            margin-left: -48%;
            border-radius: 20px;
            height: 10px;
            background: linear-gradient(to bottom, rgba(white, 0.85) 30%, transparent 120%);
        }
        #background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #dc3545, mix(#dc3545,#ffc107,5%),#ffc107,#007bff,mix(#007bff,#28a745,66%),#28a745);
            -webkit-clip-path: inset(0 33% 0 0);
            clip-path: inset(0 33% 0 0);
            transition: all 3s;
            -webkit-transition: all 3s;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-image: repeating-linear-gradient(
                        -45deg,
                        transparent,
                        transparent 10px,
                        #000 10px,
                        #000 20px
                );
                opacity: 0.75;
                mix-blend-mode: overlay;
                border-radius: 50px;
            }
        }
    }

}

.prog-bar-cont100{
    background: gainsboro;
    width: 75vw;
    height: 2.5em;
    padding: 0.5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
    #prog-bar{
        background: #000;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
        background: transparent;
        &:before{
            border-radius: 50px;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            width: 100%;
            left: 50%;
            margin-left: -48%;
            border-radius: 20px;
            height: 10px;
            background: linear-gradient(to bottom, rgba(white, 0.85) 30%, transparent 120%);
        }
        #background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #dc3545, mix(#dc3545,#ffc107,5%),#ffc107,#007bff,mix(#007bff,#28a745,66%),#28a745);
            -webkit-clip-path: inset(0 0% 0 0);
            clip-path: inset(0 0% 0 0);
            transition: all 3s;
            -webkit-transition: all 3s;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-image: repeating-linear-gradient(
                        -45deg,
                        transparent,
                        transparent 10px,
                        #000 10px,
                        #000 20px
                );
                opacity: 0.75;
                mix-blend-mode: overlay;
                border-radius: 50px;
            }
        }
    }

}
