.normal_bodyn, .form-control{
    background-color: $achtergrondkleur !important;
    color: $tekstkleur!important;
}

.hidden-screen-reader-label{
    background-color: $achtergrondkleur !important;
    color: $achtergrondkleur !important;
}


.logo{
    max-width: 50px;
    

}

.size {
    min-height: 500px;
}

.bg-bg {
    color:inherit;
    background-color: $navbar!important;
}

.navbar, .dropdown-menu,  {
    color:inherit;
    background-color: $navbar!important;

}

a.info {
    background-color: inherit !important;
    color: $tekstkleur !important;
}
a.info:hover{
    color: $accentkleur!important;
    background-color: inherit;
}

.navbar a ,navbar-toggler {
    color: $achtergrondkleur!important;
    background-color: inherit;
}

.navbar a:hover, navbar-toggler:hover
{
    color: $accentkleur!important;
    background-color: inherit;
}

.modal-header ,.close{
    color: $achtergrondkleur !important;
    background-color: $navbar !important;
}
.modal-body {
    color: $tekstkleur !important;
    background-color: $achtergrondkleur!important;
}

.qvplaceholder, .qvobject{
    flex: 1 1 auto;
    height: 200px;
    min-width: 150px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;

}

.qvplaceholder2, .qvobject2{
    flex: 1 1 auto;
    height: 500px;
    min-width: 100px;

}


.qvplaceholder3, .qvobject3 {
    flex: 1 1 auto;
    height: 200px;
    min-width: 150px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#body {
    width: 60%;
}
.kadestatus{
    min-width: 130px;
    max-width: 130px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.progress10{
    width: 10%;
    background-color: #AD310B;

}
.progress33{
    width: 33%;
    background-color: orange;

}
.progress66{
    width: 66%;

}
.progress100{
    width: 100%;
}

.planningstatus{
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.bg-groen{
    background-color: #28a745;
}
.bg-oranje{
    background-color: #ffc107;
}
.bg-rood{
    background-color: #dc3545;

}
