.normal_bodyn, .form-control{
    background-color: $achtergrondkleur !important;
    color: $tekstkleur!important;
}

.hidden-screen-reader-label{
    background-color: $achtergrondkleur !important;
    color: $achtergrondkleur !important;
}




.size {
    min-height: 500px;
}

.bg-bg {
    color:inherit;
    background-color: $navbar!important;
}

.navbar, .dropdown-menu,  {
    color:inherit;
    background-color: $navbar!important;

}

a.info {
    background-color: inherit !important;
    color: $tekstkleur !important;
}
a.info:hover{
    color: $accentkleur!important;
    background-color: inherit;
}

.navbar a ,navbar-toggler {
    color: $achtergrondkleur!important;
    background-color: inherit;
}

.navbar a:hover, navbar-toggler:hover
{
    color: $accentkleur!important;
    background-color: inherit;
}

.modal-header ,.close{
    color: $achtergrondkleur !important;
    background-color: $navbar !important;
}
.modal-body {
    color: $tekstkleur !important;
    background-color: $achtergrondkleur!important;
}

.qvplaceholder, .qvobject{
    flex: 1 1 auto;
    height: 250px;
    min-width: 100px;
    margin: 45px 0 0 45px;
    padding: 40px;
}

.qvplaceholder2, .qvobject2{
    flex: 1 1 auto;
    height: 500px;
    min-width: 100px;
    margin: 45px 0 0 45px;
    padding: 40px;
}

