// Body
$body-bg: #eaf2f8;

// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



//custom kleuren project 4.0
$navbar: #012340;
$achtergrondkleur: #eaf2f8;
$tekstkleur: #1a2601;
$accentkleur: #7eafd7;
